*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial,Helvetica;
  }
  
  .header {
    width: 100%;
    height: 100vh;
    background: #919090;
    color: #000;
    padding: 0 8.5%;
    position: relative;
  }
  
  nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0 10px;
    flex-wrap: wrap;
  }
  
  
  nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
    list-style-type: none;
  }
  
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: #0e0202;
    letter-spacing: 1px;
    font-size: 17px;
  }
  
  nav ul li a:hover {
    color: #3868c0;
  }
  
  .text h1 {
    font-size: 50px;
    line-height: 100px;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 3px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: #628fb1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover{
    background-color: rgb(29, 97, 245);
  }
  
  .products {
    flex: 1;
    background-color: #919090;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 260px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }
  
  .card > header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
  }
  
  .card > p {
    text-align: center;
  }
  
  .card > img {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  